@page "/inventories" 
@* tu jest odniesienie pośrednie działa tylko do plików w tym samym projekcie*@

<h3>Inventory List</h3>
<br/>
<br />

<InventoryListComponent></InventoryListComponent>
@code {

    
}
